{% extends 'base.html' %} {% block title %}Add Truck{% endblock %} {% block
content %}
<div class="container">
  <h1>Add Truck</h1>
  {% if error %}
  <div class="alert alert-danger" role="alert">{{ error }}</div>
  {% endif %}
  <form method="POST" action="{{ url_for('add_truck') }}">
    <div class="form-group">
      <label for="starting_location">Starting location:</label>
      <input
        type="text"
        class="form-control"
        name="starting_location"
        id="starting_location"
        required
      />
    </div>
    <div class="form-group">
      <label for="destination">Destination:</label>
      <input
        type="text"
        class="form-control"
        name="destination"
        id="destination"
        required
      />
    </div>
    <div class="form-group">
      <label for="truck_id">Truck ID:</label>
      <input
        type="text"
        class="form-control"
        name="truck_id"
        id="truck_id"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Add Truck</button>
  </form>
</div>

<!DOCTYPE html>
<html>
  <head>
    <title>My Website</title>
    <style>
      body {
        background-color: #5a9cea;
      }
    </style>
  </head>
</html>
{% endblock %}
